.body{
    font-family: 'Segeo UI', tahoma, Geneva,verdana, sans-serif;
    background: color #f0f2f5;
    display:flex;
    justify-content:center;
    align-items: center;

    margin: 0;
}
.main{
    background-color: white;
    padding: 2rem;
    border: 10px;
    box-shadow: 0 4px 6px rbga(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    text-align: center;
}
header{
    background-color: red;
    color:white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding:24px 0;
    text-align: center;
}


.header p{
    color: brown;
    font-size: medium;
    margin-bottom: 1.5rem;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
label{
    text-align: left;
    font-weight: bold;
    color: #333;
}
.input, select{
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    font-size: 1rem;

}
button:hoover{
    background-color: gold; 
}
#result-section{
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid;

}
#display-name{
    font-size: medium;
    font-size: bold;
    color: brown;
}
form{
    max-width: 650px;
    margin: 24px auto;
}
form label{
    margin-bottom: 8px;
    font-weight: 600;
    display: block;
}
form input,form textarea,form button{
    width: 95%;
    padding: 15px;
    margin-bottom: 18px;
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 8px;
    
}
form input:focus, form text area:focus{
    border-color: green;
    outline: none;
    
}
form button{
    background-color: green;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: none;
    transition: background-color 0.3s ease;
    cursor: pointer;

    
}
form button:hover{
    background-color: green;
}
form button:active{
    background-color: green;

}
#box1{
    height: 350px;
    width: 600px;
    margin: auto;
    background-color: burlywood;

}