body{
    font-family: 'Segeo UI', tahoma, Geneva,verdana, sans-serif;
    background: color #f0f2f5;
    display:flex;
    justify-content:center;
    align-items: center;

    margin: 0;
}
main{
    background-color: white;
    padding: ;
    border: 10px;
    box-shadow: 0 4px 6px rbga(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    text-align: center;
}
header{

}